export(initHMM)
export(simHMM)
export(viterbi)
export(forward)
export(backward)
export(posterior)
export(baumWelch)
export(viterbiTraining)
export(dishonestCasino)
importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "points", "rect", "text")
